@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tiro+Tamil&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    padding: 0;
    margin:0 ;
}
   
body{
    background-color: rgb(59, 59, 63);
    color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'Tiro Tamil', serif;
}
h1{
    
    font-size: 4rem;
    font-weight: 550;
}
h3{
    font-size: 1.3rem;
}
span{
    color: rgb(250, 205, 92);
    font-size: 4rem;
}
p{
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: white;
    
}

header{
    display: flex;
    justify-content:space-between;
    padding: 0.5rem 5rem 0.5rem 8rem;
    align-items: center;
    /*position: fixed;    */
    width: 100%;
    
}
.menu{
    margin: 20px;
    font-size: 1.6rem;
    font-weight: lighter;
    
}
.buscar{
    background-color: rgb(68, 66, 66);
    border: none;
    color: white;
    height: 50px;
    border-radius: 8px;
    width: 180px;
    padding: 10px;
    font-size: 1.5rem;
}
.hero{
    padding: 4rem 2rem 4rem 13rem;
    display: flex;
    align-items: center;
    align-content: flex-end;
    justify-content: space-between;
    background: linear-gradient(rgba(59, 59, 63,0.5), rgba(0, 0, 0, 0.5)), url("../img/ivanByN.png");
    background-repeat: no-repeat;
    background-position:top right;
    
    min-width: 620px;
    height: 85vh;
}
.heroDatos{
    width: 49%;
}
.heroEspacio{
    width: 30%;
}
.heroSociales{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 3vh;    
    height: 65vh;
    margin-bottom: 4rem;
    font-size: 1.7rem;
}
.lineaHeroSociales{
    height: 7rem;    
    border-right: 2px solid  rgb(250, 205, 92);           
    margin: 0.2rem 1rem 1rem 0rem; 
    
}
.heroBtn{    
    padding: 0.2rem 0.9rem;
    font-size: 0.9rem;        
    border:0.18rem solid rgb(250, 205, 92);
    margin: 1.5rem 0;
    color: rgb(250, 205, 92);
    background-color: rgb(59, 59, 63);
    border-radius: 0.25rem;
}
.about{
    padding: 4rem 8rem;
}
.divAbout{
    display: flex;
    
}
.parrafoAbout{
    font-size: 1.5rem;
}
.lineaAbout{
    width: 10rem;    
    border-top: 2px solid  rgb(250, 205, 92);           
    margin: 1rem 1rem 1rem 0rem;    
}
.mySkills{
    padding: 0 8rem;
    text-align: center;
}
.tarjetaContenedora{
    display: flex;
    justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.tarjeta{
    width: 260px;
    height: 260px;
    margin: 25px;
    border-radius: 1.2rem;
    background-color: rgb(68, 66, 66);
    
}
.tarjeta:hover{
    background-color: rgb(250, 205, 92);
}
.iconoTarjeta{
    width: 5rem;
    margin-top: 3rem;
}
.nombreIcono{
    margin-top: 2.5rem;
}
.portfolio{
    margin-top: 2rem;
    padding: 2 8rem;
    text-align: center;
}
.tarjetaimagen{
    margin: 0.8rem;
}
.imagenPortafolio{
    width: 400px;
    height: 400px;
}
.vermasBtn{  
    width: 12rem;  
    height: 4rem;
    padding: 0.2rem 0.9rem;
    font-size: 1.8rem;            
    margin: 2rem 0;
    color:  rgb(59, 59, 63);
    background-color:rgb(250, 205, 92);
    border-radius: .81rem;
    
}
.experience{
    margin-top: 6rem;
    padding: 0 0 0 8rem;
    background-color: rgb(68, 66, 66)
    
}
.tituloExperiencia{
    position: relative;
    top: -36px;
}
.contenedorExperiencia{
    display: flex;
}
.parteIzquierda{
    padding-left:60px ;
    width: 250px;
}
.contenedorDibujos{
    display: flex;
}

.anio{
    background-color: #555555;
    width: 100px;
    text-align: center;
}
.flecha{
    width: 0;
  height: 0;
  border-style: solid;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid #555555;
  border-right: 0;
}
.contenedorCirculo{
    margin: 0 5px 0 0;
}
.circulo{
    background-color:rgb(250, 205, 92);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 12px 0px 0px 148px;
}

.circuloGrande{
    position: absolute;
    background-color:rgb(250, 205, 92,0.15);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 7px 0px 0px 143px;
}
.circuloBigger{
    position: relative;
    background-color:rgb(250, 205, 92,0.05);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 5px;
}
.lineaExperiencia{
    width: 165px;
    height: 50%;
    max-height: max-content;
    border-right: 2px solid  white;           
    
.descripcionExp{
    margin: 10px 10px;
}
.textoExperiencia{
    font-size:0.8rem ;
}
.testimonial{
    padding: 0 8rem;
}
.foto2{
    width: 200px;
}